* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    text-align: center;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

/* nav ul li {
    display: inline-block;
    box-sizing: content-box;
    font-weight: 500; 
    height: 20px;
    padding-left: 3%;
    padding-right: 3%;
    margin: 3%;  
    background-color: transparent;
    border: 1px solid lightblue;
     background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%); 

} */

nav div {
    border-bottom: 3px solid #1e90ff;
}

nav div button {
    display: inline-block;
    box-sizing: content-box;
    margin: 3% 3%;
    width: 110px;
    height: 40px;
    background: transparent;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

nav div button a {
    text-decoration: none;
    color: black;
}

nav div button a:hover{
    color: white;
}
nav div button:hover{
    color: white;
    background: dodgerblue;
}

nav div button:active{
    background-color: dodgerblue;
    transform: translateY(4px);
}

nav h1 {
    margin-top: 3%;
    font-weight: 500; 
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.heading {
    display: none;
}

.dashboard {
    text-align: center;
}

.dashboard button {
    display: block;
    box-sizing: content-box;
    width: 110px;
    height: 40px;
    margin: 0 auto;
    background: transparent;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.dashboard button:hover{
    color: white;
    background: dodgerblue;
}

.dashboard button:active{
    background-color: dodgerblue;
    transform: translateY(4px);
}

#charts_exit {
    display: block;
    width: 110px;
    height: 40px;
    margin: 3% auto;
    background: transparent;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#charts_exit:hover{
    color: white;
    background: dodgerblue;
}

#charts_exit:active{
    background-color: dodgerblue;
    transform: translateY(4px);
}

.content {
    width: 200px;
    margin: 3% auto;
}

.display_toggle {
    display: none;
}

#graph_button {
    display: block;
}

.input input {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    text-align: center;
}

.input button {
    display: block;
    width: 100px;
    height: 30px;
    margin: 3% auto;
    background: transparent;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    font-weight: bold;
}

.input button:hover{
    background: dodgerblue;
    color: white;
    cursor: pointer;
}

.input button:active{
    background: dodgerblue;
    transform: translateY(4px);
} 


.image {
    height: 20px;
    width: 20px;
}

.container {
    text-align: center;
    margin-top: 6%;
    font-size: 0.9em;
}

img  {
    height: 30px;
    width: 30px;
}

figure {
    width: 300px;
    height: 400px;
    display: inline-block;
}

.container h1 {
   border-bottom: 3px solid dodgerblue;
   font-weight: 400;
   padding-bottom: 3%;

}

.circle_top {
    width: 50%;
    margin: 3% auto;
}

.circle_bottom {
    width: 35%;
    margin: 0 auto;
}


.heading h1 {
    margin-bottom: 0%;
    font-weight: 500;
}


.box1 {

    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    display: inline-block;
    border-radius: 12px;
    height: 60px;
    margin-bottom: 5%;
    

}

.box2 {

    background-color: #bd4f6c;
    background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
    display: inline-block;
    border-radius: 12px;
    height: 60px;
    margin-bottom: 5%;


}

.box3 {

    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    display: inline-block;
    border-radius: 12px;
    height:60px;
    margin-bottom: 5%;

}

.box4 {

    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    display: inline-block;
    border-radius: 12px;
    height: 60px;
    margin-bottom: 5%;

}

.circle {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin: 3%;
}
